<div class="space-y-4">
  <div  class=" flex flex-col gap-y-1">
      <label class="text-3 text-slate-300 font-bold" >
        Alerts
    </label>
    <AlertCard Title="All Clear!" >
      <Left>
        <Icon Content=@Icons.Smile />
      </Left>
      <ChildContent>
        <p class="text">The cluster looks healthy</p>
      </ChildContent>
    </AlertCard>
    @if (!(AppState.Kube.KubeCertExpiration == default))
    {
        <AlertCard Title="Kubernetes Cert Valid" Type=StyleType.Outline >
          <Left>
            <Icon Content=@Icons.Smile />
          </Left>
          <ChildContent>
            <p class="text">Expires: @AppState.Kube.KubeCertExpiration.ToLongDateString()</p>
          </ChildContent>
        </AlertCard>
    }
  </div>

  <hr class="border-b border-slate-500 w-100" />
  <div  class="">
       <label class="text-3 text-slate-300 font-bold" >
    Current Active Events
  </label>
   <AlertCard Type=@StyleType.Outline >
      <ChildContent>
        <p class="text"> No Active Events</p>
      </ChildContent>
    </AlertCard>
    </div>
      <div  class="space-y-1">
     <label class="text-3 text-slate-300 font-bold mt-2" >
      Past Events
  </label>
        @if (DemoTimeStamp != null)
        {
          <div class="flex space-x-1 justify-between  items-baseline">
         
          <div class="  flex space-x-1 items-baseline ">
            <div class=" px-1 py-0 bg-slate-800  rounded">
               <p class=" text-1 font-bold tracking-wide text-slate-300 leading-none">
            @(DemoTimeStamp.Value.ToString(" HH:mm tt"))
          </p>
          </div>
           <p class="text-slate-100 ">
            Cluster Started
          </p>
 
            </div>
             <p class="text-2 text-slate-400">
            @(DemoTimeStamp.Value.ToString("MM/dd/yyyy "))
          </p>
         </div>
        }
    </div>
</div>