@*-----------------------------------------------------------------------------
// FILE:	    MainLayout.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright © 2005-2023 by NEONFORGE LLC.  All rights reserved.*@

@inherits LayoutComponentBase

<Portal Name="modal-root"/>
<div class="mainlayout " >
  <div class="containermain text-slate-50  font-sans antialiased tracking-wide">
        <main class="main bg-bg justify-center @((AppState.CurrentDashboard == "neonkube") ? "grid pb-8" : "")">
              @Body
      </main>
       <div class="bottom ">
          <BottomMenu />
      </div>
  </div>
</div>