@*-----------------------------------------------------------------------------
// FILE:	    MainLayout.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@inherits LayoutComponentBase

<Portal Name="modal-root"/>
<div class="mainlayout " >
  <div class="containermain text-slate-50  font-sans antialiased tracking-wide">
      <main class="main bg-bg justify-center @((AppState.CurrentDashboard == "neonkube") ? "grid" : "")">
              @Body
      </main>
       <div class="bottom">
          <BottomMenu />
      </div>
  </div>

</div>

<div class="top-row px-4 " style="display: none">
    <AuthorizeView>
        <Authorized>
            <form method="get" action="logout">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="login?redirectUri=/">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
  </div> 