@*-----------------------------------------------------------------------------
// FILE:	    MainLayout.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@inherits LayoutComponentBase

<Portal Name="modal-root"/>
<div class="mainlayout " >
  <div class="containermain text-slate-100  font-sans antialiased tracking-wide">
      <main class="main bg-bg  @((AppState.CurrentDashboard == "neonkube") ? "items-center flex flex-col" : "")">
              @Body
      </main>
       <div class="bottom py-[4px] flex justify-end items-center bg-black px-2">
          <BottomMenu />
      </div>
  </div>
</div>