@*-----------------------------------------------------------------------------
// FILE:	    NavMenu.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright © 2005-2023 by NEONFORGE LLC.  All rights reserved.*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">neon-dashboard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
          <button @onclick="@(() => NavigationManager.NavigateTo("/"))">Home</button>
        </div>
        @foreach (var dashboard in AppState.Dashboards)
        {
            <div class="nav-item px-3">
                <button @onclick="@(() => NavigationManager.NavigateTo(dashboard.Name))">@dashboard.Name</button>
            </div>
        }
    </nav>
</div>


