################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################=

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Files
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.[Rr]e[Ss]harper
*.DotSettings.user
*.opensdf
*.sdf
*.jmconfig
*.suo
**/launchSettings.json
**/.vs/**
**/.vscode/**
# *.pubxml

# Nuget Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
# !**/packages/repositories.config

# Random [.rnd] files are generated sometimes while building Docker
# images.  I'm not sure where they're coming from and deleting them
# in the image build scripts doesn't always seem to take.  We'll
# just ignore these.

*.rnd

# Common ASP.NET 5 Rules

bower_components/
node_modules/

################################################################################
# Custom rules added for this repository.
################################################################################

# Build/test artifacts: 
#
# NOTE: This assumes that we'll never want to commit folders named: [bin] or [obj]

**/bin/**
**/obj/**

/Build/**
/Build-Cache/**
*.mg.cs
GeneratedEntities.cs
GeneratedTypes.cs
GeneratedUxTypes.cs
/Test/**/TestResults/**

#############################
### Other generated files ###
#############################

cluster-manifest.json
KubernetesWithRetry.cs
/**/*.gitignore/**
/UpgradeLog.htm
/ToolBin/nuget.config
**/Protos/**/*.cs
/services/neon-dashboard/wwwroot/css/index.css
/Services/neon-dashboard/wwwroot/css/isolated.css
/Test/TestOperator/Manifests
/Lib/Neon.Kube.Models/.buildComplete
/Services/neon-dashboard/package-lock.json
/Test/Test.Neon.Kube.Operator/**.yaml
/Lib/Neon.Kube.Setup/Resources/Helm/neon-cluster-operator/crds/*.yaml
