[Unit]
Description=Docker volume plugin driver for neonCLUSTER integrated CephFS.
Before=docker.service
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/local/bin/neon-volume-plugin

[Install]
WantedBy=sockets.target
