[Unit]
Description=neonHIVE Docker Volume Plugin
Before=docker.service
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/lib/neon/bin/neon-volume-plugin

[Install]
WantedBy=multi-user.target
WantedBy=docker.service
