@*-----------------------------------------------------------------------------
// FILE:	      AlertCard.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright © 2005-2023 by NEONFORGE LLC.  All rights reserved.*@

<div class="py-2 px-4 space-x-1 rounded-4 flex w-full @CardStyle[Type] @(ChildContent!= null ? "" : "items-center")">
  @Left
  <div class="">
        @if (Title != "")
        {
          <label class="text-base font-bold ">
      @Title
    </label>
            
        }
        
    @ChildContent
  </div>
  @Right
</div>