
w
<DropUp Title="Dashboard" Active=@AppState.CurrentDashboard Icon=@Icons.Server Items=@AppState.Dashboards >
     <DropList Context="dashboard">
      <div></div>
			<div class="">
				<p>@dashboard.GetName()</p>
			</div>
    </DropList>
</DropUp>

<div class="button">
		<Icon content=@Icons.Settings />
</div>