@*//-----------------------------------------------------------------------------
// FILE:	    BottomMenu.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

<DropUp Title="Dashboard" Active=@AppState.GetCurrentDashboard(AppState.CurrentDashboard) Icon=@Icons.Server Items=@AppState.Dashboards >
     <DropList Context="dashboard">
      
			<div class="button button__icon" @onmouseout:stopPropagation @onclick="@(() => NavigationManager.NavigateTo(dashboard.GetId()))">
				  <h3>@dashboard.GetName()</h3>
				  @if (dashboard.GetId() == AppState.CurrentDashboard)
				  {
					  <div style="right: 20px;position: absolute;">
						  <Icon Content=@Icons.Check />
						  </div>
				  }
				  </div>
    </DropList>
</DropUp>

@*<div class="button">
		<Icon Content=@Icons.Settings />
</div>*@