@*//-----------------------------------------------------------------------------
// FILE:	    BottomMenu.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright © 2005-2022 by NEONFORGE LLC.  All rights reserved.*@

<DropUp Title="Dashboard" Active=@AppState.GetCurrentDashboard(AppState.CurrentDashboard) Icon=@Icons.Server Items=@AppState.Dashboards >
     <DropList Context="dashboard">
      <div></div>
            <div class="">
                <p>@dashboard.GetName()</p>
            </div>
    </DropList>
</DropUp>

@*<div class="button">
        <Icon Content=@Icons.Settings />
</div>*@