@*-----------------------------------------------------------------------------
// FILE:	      Dashboard.razor
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT:   Copyright © 2005-2022 by NEONFORGE LLC.  All rights reserved.*@

<div class="dashboard-frame" style="height:@Height; width:@Width; position: absolute; top: 0; left: 0;">
    <iframe src="@Url" title="@Description" style="height:100%; width:100%; overflow:hidden; border:none; margin:0; padding:0; visibility: visible;"></iframe>
</div>