@using System.Text.Json;
@using System.IO;
@using System; 

@using Neon.Common;

<div class="icon @color">
    @((MarkupString)content)
</div>

@code {
    /// <summary>
    /// type of icon to display
    /// </summary>
    [Parameter]
    public string content { get; set; }
    /// <summary>
    /// override color, by default copies current text color
    /// </summary>
    [Parameter]
    public string color { get; set; }
}