@*//-----------------------------------------------------------------------------
// FILE:	    Icon.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright (c) 2005-2022 by neonFORGE LLC.  All rights reserved.*@

@using System.Text.Json;
@using System.IO;
@using System; 

@using Neon.Common;

<div class="icon">
    @((MarkupString)content)
</div>

@code {
    /// <summary>
    /// type of icon to display
    /// </summary>
    [Parameter]
    public string content { get; set; }
}