@*//-----------------------------------------------------------------------------
// FILE:	    Icon.razor
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT:   Copyright © 2005-2023 by NEONFORGE LLC.  All rights reserved.*@

@using System.Text.Json;
@using System.IO;
@using System; 

<div class="icon @Color">
    @((MarkupString)Content)
</div>