.button {
    padding: var(--f1) var(--f2);
    display: flex;
    align-items: center;
    gap: var(--f2);
    cursor: pointer;
    p {
        font-size: var(--f2);
    }

    &:hover {
        background: #555;
    }
}

.dropup__button {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: var(--f2);
    cursor: pointer;
    p {
        font-size: var(--f2);
    }

&:hover {
    background: #555;
}
}

.button__icon {

    display: grid;
    grid-template-columns: var(--f5) minmax(7rem,auto) auto;
    gap: var(--f2);
    
}