/*-----------------------------------------------------------------------------
// FILE: type.scss
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT: Copyright © 2005-2022 by NEONFORGE LLC. All rights reserved.*/

@font-face {
    font-family: "Pangram Sans";
    src: url("../fonts/PPPangramSans-Medium.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Pangram Sans";
    src: url("../fonts/PPPangramSans-Bold.otf");
    font-weight: bold;
}


body {
    font-size: var(--base);
    font-family: "Pangram Sans", sans-serif;
}


/*h1, h2, h3, h4, p, label {
    margin: 0;
    font-size: var(--f2);
}*/

.f1 {
    font-size: var(--f1);
}

.f2 {
    font-size: var(--f2);
}

.f3 {
    font-size: var(--f3);
}

.f4 {
    font-size: var(--f4);
}


.f5 {
    font-size: var(--f5);
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
}