:root {
    //colors
    --c-bg: #232323;
    --c-bg-dark: #333;
    --c-fg: #eee;

    //typescale
    --base: 16px;
    --f1: 0.625rem;
    --f2: 0.750rem;
    --f3: 0.875rem;
    --f4: 1.062rem;
    --f5: 1.5rem;
}
