/*-----------------------------------------------------------------------------
// FILE: _BlazorFix.css
// CONTRIBUTOR: Simon Zhang
// COPYRIGHT: Copyright © 2005-2022 by NEONFORGE LLC. All rights reserved.*/

#blazor-error-ui {
    display: none;
    position: absolute;
    top: var(--f3);
    z-index: 99999;
    width: 100%;
    background-color: red;
    /* margin: 1rem; */
    padding: 1rem;
    border-radius: var(--f3);
}
.error__content {
    background: darkred;
    padding: 1rem;
    border-radius: var(--f1);
    color: var(--c-fg);
    margin: 8px auto;
    filter: var(--shadow);
}

.dismiss {
    cursor: pointer;
}

.reload {
}