:root {
    /*colors*/
    --c-bg: #232323;
    --c-bg-dark: #333;
    --c-fg: #eee;
    /*typescale*/
    --base: 16px;
    --f0: 0.562rem;
    --f1: 0.688rem;
    --f2: 0.812rem;
    --f3: 1rem;
    --f4: 1.188rem;
    --f5: 1.438rem;
    --f6: 1.750rem;
    --f7: 2.500rem;
    --f8: 3.000rem;
    --shadow: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
    --c-bg: #0B0E15;
    --c-card: #1E293B;
}
