/*-----------------------------------------------------------------------------
// FILE: Index.razor.css
// CONTRIBUTOR: Marcus Bowyer
// COPYRIGHT: Copyright © 2005-2022 by NEONFORGE LLC. All rights reserved.*/

.dashboard-container {
    display: grid;
    height: 100%;
    position: relative;
}

.dashboard-frame {
    grid-column: 1;
    grid-row: 1;
}