@page "/modal"
@inherits PageBase

<PageTitle>Page Title</PageTitle>

<div class="w-48 flex-auto">
  <HeadlessButton OnClick="(async () => await headlessDialog.Open())" 
    Type="button"
    Class="w-48 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Open Dialog
</HeadlessButton>
</div>
@*<PortalContent PortalName="modal-root">*@
  <HeadlessDialog 
    Class="fixed inset-0 bg-white-500 bg-opacity-75 transition-opacity"
    Show="showModal"
    Enter="ease-out"
    EnterDuration="300"
    EnterFrom="opacity-0"
    EnterTo="opacity-100"
    Leave="ease-in"
    LeaveDuration="200"
    LeaveFrom="opacity-100"
    LeaveTo="opacity-0"
    @ref="headlessDialog">
    <div class="fixed z-10 inset-0 overflow-y-auto">
              <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
    <HeadlessDialogPanel
        Show="showModal"
        Enter="ease-out duration-300"
        EnterDuration="300"
        EnterFrom="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        EnterTo="opacity-100 translate-y-0 sm:scale-100"
        Leave="ease-in duration-200"
        LeaveDuration="200"
        LeaveFrom="opacity-100 translate-y-0 sm:scale-100"
        LeaveTo="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        Context="dialogPanel"
        Class="relative z-100 bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full sm:p-6">
                      <div>
                          <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                              <!-- Heroicon name: outline/check -->
                              <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                              </svg>
                          </div>
                          <div class="mt-3 text-center sm:mt-5">
                              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Payment successful</h3>
                              <div class="mt-2">
                                  <p class="text-sm text-white-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.</p>
                              </div>
                          </div>
                      </div>
                      <div class="mt-5 sm:mt-6">
                        <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm" @onclick="(async () => await headlessDialog.Close())">Go back to dashboard</button>
                      </div>
    </HeadlessDialogPanel>
    </div>
    </div>
  </HeadlessDialog>
@*</PortalContent>*@